* {
    margin: 0;
    padding: 0;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 50px;
}

:root {
    --primary-color: #4ECDC4;
    --secondary-color: #FF6B6B;
    --tartiary-color: #FFE66D;
    --white-color: #F7FFF7;

}

body {
    background-color: var(--primary-color);
}

/* section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    /* Center horizontally */
}

.box {
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 8px;
    background-color: var(--white-color);
    box-shadow: 0px 0px 0px 2px var(--tartiary-color);

}

#reset-btn{
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    
}

.bigger-text{
    font-size: 2rem;
    font-weight: bold;
    color: #FF6B6B;
    text-align: center;
}